{:deps      {sig-gis/triangulum {:git/url "https://github.com/sig-gis/triangulum"
                                 :git/sha "57d309ea452d756d6485bfaeccdd11665a5ffa2b"}}


 :tasks
 {:requires ([babashka.curl    :as curl]
             [babashka.fs      :as fs]
             [babashka.process :refer [shell]]
             [clojure.java.io  :as io]
             [clojure.string   :as str]
             [triangulum.utils :refer [format-with-dict path]])

  -version     "1.0.7075"
  -datomic     (path (fs/home) ".datomic-2")
  -datomic-bin {:depends [-datomic]
                :task    (path -datomic "current" "bin")}
  -shell-rc    (let [user-shell   (System/getenv "SHELL")
                     shell-config {"/bin/zsh"  "~/.zshrc"
                                   "/bin/bash" "~/.bashrc"}]
                 (shell-config user-shell))
  -bb-path     (or (-> (shell {:out :string} "which bb")
                       (:out)
                       (str/split-lines)
                       (first))
                   "/usr/local/bin/bb")

  install
  {:depends [-datomic -datomic-bin -shell-rc -version]
   :task
   (let [datomic-zip (format "datomic-pro-%s.zip" -version)
         zip-file    (path -datomic datomic-zip)
         current     (path -datomic "current")
         final-dir   (path -datomic (format "datomic-pro-%s" -version))]

     ;; Create ~/.datomic
     (println "Creating dir:" -datomic)
     (fs/create-dirs -datomic)

     ;; Download
     (println "Downloading... (this will take a while)")
     (curl/get (format "https://datomic-pro-downloads.s3.amazonaws.com/%s/%s" -version datomic-zip)
               {:raw-args ["--progress-bar" "-o" zip-file]})

     ;; Unzip
     (println "Unzipping")
     (shell (format "unzip -q -o %s -d %s"
                    zip-file
                    -datomic))

     ;; Symlink
     (println "Symlinking to ~/.datomic/current")
     (fs/create-sym-link current final-dir)

     ;; Add to PATH
     (println "Install complete! Execute the following to add it to Datomic to your PATH:")
     (println
      (format "echo 'export PATH=$HOME/.datomic/current/bin:$PATH' >> %s" -shell-rc)))}

  ;;; Service setup
  enable-service!
  {:depends [-bb-path]
   :task 
   (let [mac?         (str/starts-with? (System/getProperty "os.name") "Mac")
         tx-service   (if mac?
                        "com.datomic.pro@transactor.plist"
                        "datomic-transactor.service")
         log-dir      (path (fs/cwd) "logs")
         service-file (if mac?
                        (path (fs/home) "Library" "LaunchAgents" tx-service)
                        (path (fs/xdg-config-home) "systemd" "user" tx-service))
         config       {:cwd     (str (fs/cwd))
                       :bb      -bb-path
                       :log-dir log-dir}
         contents     (format-with-dict (slurp tx-service) config)]
     #_(println "MAC?" mac? tx-service config contents)
     (when (not mac?) (fs/create-dirs service-file))
     (fs/create-dirs log-dir)
     (spit service-file contents)
     (if mac?
       (shell (format "launchctl load %s" service-file))
       (do 
         (sysctl-reload!)
         (sysctl-start! (str/replace tx-service ".service" "")))))}

  transactor
  {:depends [-datomic-bin]
   :task
   (let [transactor (path -datomic-bin "transactor")
         options    "-Ddatomic.printConnectionInfo=true"
         config     (path (fs/cwd) "config" "datomic-sql.properties")]
     (shell
      (format "%s %s %s" transactor options config)))}

  console
  {:depends [-datomic-bin]
   :task
   (let [console (io/file -datomic-bin "console")
         port    8000
         url     "datomic:sql://?jdbc:postgresql://localhost:5432/datomic?user=datomic&password=datomic"]
     (shell (format "%s -p %d db %s" console port url)))}}}
