{:tasks
 {:requires   ([babashka.cli     :refer [parse-opts]]
               [babashka.fs      :as fs]
               [babashka.process :refer [shell]]
               [clojure.java.io  :as io])
  :init       (defn systctl [cmd service]
                (shell (format "systemctl --user %s %s" cmd service)))

  -transactor "datomic-transactor"
  -console    "datomic-console"

  ;; Systemctl
  reload      (sysctl "daemon-reload" nil)
  stop        {:depends [-transactor -console]
               :task    (do
                          (sysctl "stop" -transactor)
                          (sysctl "stop" -console))}
  start       {:depends [-transactor -console]
               :task    (do
                          (sysctl "start" -transactor)
                          (Thread/sleep 2000)
                          (sysctl "start" -console))}
  restart     (do
                (run 'stop)
                (run 'start))

  restore     {:doc  "Restores datomic database from .dump backup file."
               :task (let [{:keys [backup-file]} (parse-opts *command-line-args*)]
                       (println "Restoring from:" backup-file)
                       (shell "psql -U datomic datomic -c 'DROP TABLE IF EXISTS datomic_kvs;'")
                       (shell (format "pg_restore -j 2 -d datomic -U datomic %s" backup-file)))}

  -datomic    (str (io/file (str (fs/home)) ".datomic" "current" "bin"))
  transactor  {:doc     "Starts Datomic Transactor"
               :depends [-datomic]
               :task
               (let [transactor (io/file -datomic "transactor")
                     options    "-Ddatomic.printConnectionInfo=true"
                     config     (str (fs/cwd) "/config/datomic-sql.properties")]
                 (shell
                  (format "%s %s %s" transactor options config)))}

  console     {:doc     "Starts Datomic Console (defaults to port 8000)"
               :depends [-datomic]
               :task
               (let [{:keys [port]} (parse-opts *command-line-args* {:coerce {:port :long}})
                     console        (io/file -datomic "console")
                     port           8000
                     url            "datomic:sql://?jdbc:postgresql://localhost:5432/datomic?user=datomic&password=datomic"]
                 (shell (format "%s -p %d db %s" console port url)))}}}
