[submodule "bases/behave_components"]
	path = bases/behave_components
	url = ../../sig-gis/behave-components.git
	branch = main
[submodule "behave-lib/behave-mirror"]
	path = behave-lib/behave-mirror
	url = https://github.com/firelab/behave.git
