{:css-dirs            ["projects/behave/resources/public/css"]
 :watch-dirs          ["projects/behave/src/cljs"
                       "bases/behave_components/src"]
 :ring-server-options {:port 8080 :join? false}
 :ring-handler        behave.core/development-app
 :open-url            false
 :clean-outputs       true}
