{:deps         true
 :source-paths ["projects/behave/src/cljs" "projects/behave/test/cljs"]
 :dependencies [[cljsjs/vega "5.20.2-0"]
                [cljsjs/vega-lite  "5.1.1-0"]
                [cider/cider-nrepl "0.44.0"]];; mandatory (unless it's inherited from deps.edn or otherwise present in the classpath of shadow-cljs's JVM process)
 :nrepl        {:middleware [cider.nrepl/cider-middleware]}
 :builds
 {:app
  {:target     :browser
   :output-dir "projects/behave/resources/public/cljs"
   :asset-path "/cljs"
   :modules
   {:app
    {:init-fn  behave.client/init
     :devtools {:repl-pprint true}
     :dev-http
     {8000 {:root "projects/behave/resources/public"
            :proxy-url "http://localhost:8003"}}}}}

  :test {:target    :karma
         :output-to "out/karma-tests.js"
         :ns-regexp "^behave\\."
         :autorun   true}}}
