@charset "UTF-8";

/* -- App -- */
#app {
  width: 100%;
  height: 100vh;
}
/* -- End App -- */

/* -- Page -- */
.page {
  grid-template-columns: 2fr 14fr;
  grid-auto-rows: 2fr 8fr;
  column-gap: 60px;
  row-gap: 30px;
  display: grid;
  height: 100vh;
  background-color: var(--gray-2);
}
/* -- End Page -- */

/* -- Sidebar Container -- */
.sidebar-container {
  flex-direction: column;
  display: flex;
  width: 180px;
}
/* -- End Sidebar Container -- */

/* -- Container -- */
.container {
  grid-template-columns: 6fr 4fr;
  column-gap: 30px;
  display: grid;
}
/* -- End Container -- */

/* -- Header -- */
.header {
  background-color: var(--white);
}
/* -- End Header -- */

/* -- Top Bar -- */
.top-bar {
  width: 100%;
}
/* -- End Top Bar -- */

.toolbar {
  flex-direction: column;
  display: flex;
  z-index: -2;
  height: 145px;
}

.toolbar__tools {
  flex-direction: row;
  display: flex;
  margin-left: auto;
  padding: 22px;
}

.toolbar__tools .input-text {
  padding-left: 70px;
}

/* -- Sidebar -- */
.sidebar__header {
  width: 100%;
  height: 40px;
}
/* -- End Sidebar -- */

/* -- Identity -- */
.behave-identity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--white);
}

/* -- End Identity -- */

/* -- Sidebar Group -- */
.sidebar-group {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  border-radius: 8px 8px 0px 0px;
  background-color: var(--white);
  box-shadow: 0px 2px 3px var(--gray-4);
}

.sidebar-group:not(:first-child) {
  margin-top: 20px;
}
/* --- Sidebar Group Module --- */
.sidebar-group__module {
  flex-direction: column;
  display: flex;
  position: relative;
  align-items: center;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

.sidebar-group__module__icon {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.sidebar-group__module__label {
  cursor: default;
  padding-left: 5px;
}

.sidebar-group__module:hover .sidebar-group__module__label {
  text-decoration: underline;
}

.sidebar-group__header,
.sidebar-group__header > .tab > button {
  display: block;
  align-items: center;
  width: 100%;
  pointer-events: none;
}

.sidebar-group__module__icon .ring-icon--tools2,
.sidebar-group__module__icon .ring-icon--settings2 {
  left: -5px;
}

/* --- End Sidebar Group Module --- */
/* -- End Sidebar Group -- */

/* -- Working Area -- */
.working-area {
  border-radius: 8px 8px 0px 0px;
  background-color: var(--white);
}

.working-area__title {
  padding: 10px 20px;
  border-radius: 8px 8px 0px 0px;
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--darkblue-4);
}
/* -- End Working Area -- */

/* -- Work Style Select -- */
.workflow-select__header {
  flex-direction: column;
  display: flex;
  border-bottom: 1px solid var(--gray-3);
  background-color: var(--gray-1);
}

.workflow-select__header__content svg {
  padding-right: 15px
}
.accordion__header > .tab > .button,
.workflow-select__header__title > .tab > .button {
  display: block;
  width: 100%;
  text-align: left;
  pointer-events: none;
}

.accordion__header .button__label,
.workflow-select__header__title .button__label {
  text-transform: uppercase;
}

.workflow-select__header__content {
  flex-direction: row;
  display: flex;
  padding: 13px;
}

.workflow-select__content {
  padding-top: 15px;
}

.workflow-select__content .module-icon__hover-mask {
  visibility: hidden;
}

.workflow-select__content .module-icon {
  width: 60px;
  height: 60px;
}

.workflow-select__content .module-icon__hover-mask,
.workflow-select__content .module-icon--selected .module-icon__hover-mask,
.workflow-select__content .module-icon:hover .module-icon__hover-mask {
  visibility: hidden;
}

/* -- End Work Style Select -- */

/* - Wizard - */

.wizard {
  background-color: var(--white);
}

.wizard-header {
  margin-bottom: 15px;
}

.wizard-header__banner {
  display: flex;
  align-items: center;
  margin-top: -20px;
  padding: 0px 20px 10px;
}

.wizard-header__banner__icon {
  margin-right: 32px;
}

.wizard-header__banner__title {
  margin-right: 32px;
  font-size: var(--font-size-22);
  font-weight: var(--font-weight-300);
}

.wizard-header__submodule-tabs > .tab-group > .tab:first-child {
  margin-left: 20px;
}

.wizard-navigation {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.wizard-group__header {
  padding: 5px 18px;
  color: white;
  background-color: var(--darkblue-4);
}

.wizard-group__inputs {
  padding: 25px 30px;
}

.wizard-group__outputs {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  padding-bottom: 20px;
}

.wizard-output {
  padding: 25px 20px 0px;
}

.wizard-input {
  display:flex;
}

.wizard-input__input {
  width: 70%;
}

.wizard-input__description {
  width: 30%;
}

.wizard-input__description__units {
  font-size: var(--font-size-14);
  color: var(--gray-5);
}

/* - End Wizard - */

/* -- Help Area -- */
.help-area__content {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 600px;
  padding:2%;
  font-family: 'Roboto', sans-serif;
  background: var(--white);
}

.help-area__content h1,
.help-area__content h2,
.help-area__content h3,
.help-area__content h4,
.help-area__content h5,
.help-area__content h6 {
    margin: 0px;
    transition: color .1s ease-in-out,
                background .2s ease-in-out,
                padding .2s ease-in-out;
}

/* Help Headers */

.help-area__content h1 {
    padding-bottom: 0px;
    font-size: 2em;
    font-weight: 500;
    line-height: 32px;
}

.help-area__content h2 {
    padding-bottom: 6px;
    border-bottom: 1px solid #707070;
    font-size: 1.700em;
    font-weight: 400;
    line-height: 1.700em;
}

.help-area__content h3 {
    font-size: 1.300em;
    font-weight: 300;
    line-height: 1.600em;
}

.help-area__content h4 {
    margin-top: 20px;
    font-size: 1.200em;
    font-weight: 500;
    line-height: 18px;
    color: #13486A;
}

.help-area__content h5 {
    margin-bottom: 0px;
    padding: 10px 10px 10px 10px;
    font-size: 1.200em;
    font-weight: 500;
    line-height: 18px;
    color: white;
    background: #3F454A;
}

.help-area__content h6 {
    margin-top: 20px;
    font-size: 1.200em;
    font-weight: 400;
    line-height: 18px;
    text-decoration: underline;
    color:black;
}

.help-area__content p {
    margin-top: 12px;
    margin-bottom: 30px;
    font-size: 1.000em;
    font-weight: 400;
    line-height: 26px;
}

.help-area__content hr {
    padding-bottom: 6px;
}

/* Highlight */

.help-area__content .highlight > .help-section__content {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    background: #EDF2F5;
}

.help-area__content .highlight > .help-section__content h1,
.help-area__content .highlight > .help-section__content h2,
.help-area__content .highlight > .help-section__content h3,
.help-area__content .highlight > .help-section__content h4,
.help-area__content .highlight > .help-section__content h5,
.help-area__content .highlight > .help-section__content h6 {
    margin-bottom: 0px;
    text-decoration: underline;
    padding: 10px;
    color: white;
    background: #5788A7;
}

.help-area__content .highlight > .help-section__content p {
    margin-top: 0px;
    padding: 10px;
}
/* -- End Help Area -- */
