@charset "UTF-8";

[data-theme-color="surface" i] {
  --theme-color-2: var(--green-3);
}

[data-theme-color="contain" i] {
  --theme-color-2: var(--red-2);
}

[data-theme-color="mortality" i] {
  --theme-color-2: var(--red-3);
}

[data-theme-color="crown" i] {
  --theme-color-2: var(--orange-2);
}

body {
  background-color: var(--gray-2);
}

/* -- App -- */
#app {
  width: 100%;
  height: 100vh;
}
/* -- End App -- */

/* -- Page -- */
.page:after {
  display: block;
  position: fixed;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 6px;
  border-top: 6px solid var(--lightblue-2);
  border-bottom: 12px solid var(--darkblue-5);
  background-color: var(--medblue-1);
  content: '';
}

.page__top {
  border-spacing: 0px;
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
  margin-bottom: 30px;
  border: 0px;
}

.page__top__logo {
  vertical-align: top;
}

.page__top__toolbar-container {
  width: 100%;
}

.page__main {
  display: flex;
  padding: 170px 0px 40px;
}

.page .modal {
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* -- End Page -- */

/* -- Sidebar Container -- */
.sidebar-container {
  flex-direction: column;
  display: flex;
  width: 180px;
  min-width: 180px;
}
/* -- End Sidebar Container -- */

/* -- Container -- */
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 30px 0 60px;
}
/* -- End Container -- */

/* -- Header -- */
.header {
  background-color: var(--white);
}
/* -- End Header -- */

/* -- Top Bar -- */
.top-bar {
  width: 100%;
}
/* -- End Top Bar -- */

.toolbar {
  flex-direction: column;
  display: flex;
  z-index: -2;
  margin-left: 60px;
  background: var(--white);
  box-shadow: 0px 1px 1px var(--gray-4);
}

.toolbar__tools {
  flex-direction: row;
  display: flex;
  margin-left: auto;
  padding: 22px;
}

.toolbar__tools .input-text {
  padding-left: 70px;
}

/* -- Sidebar -- */
.sidebar {
  width: 180px;
}

.sidebar__header {
  width: 100%;
  height: 40px;
}
/* -- End Sidebar -- */

/* -- Identity -- */
.behave-identity {
  display: flex;
  width: 180px;
  height: 140px;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 140px;
  background-color: var(--white);
  box-shadow: 1px 2px 2px var(--gray-4);
}

.behave-identity__logo {
  height: 100px;
  width: auto;
}

/* -- End Identity -- */

/* -- Sidebar Group -- */
.sidebar-group {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-radius: 8px 8px 0px 0px;
  background-color: var(--white);
  box-shadow: 0px 2px 3px var(--gray-4);
}

.sidebar-group:not(:first-child) {
  margin-top: 20px;
}
/* --- Sidebar Group Module --- */
.sidebar-group__module {
  flex-direction: column;
  display: flex;
  position: relative;
  align-items: center;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

.sidebar-group__module__icon {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.sidebar-group__module__label {
  padding-left: 5px;
  cursor: default;
}

.sidebar-group__module:hover .sidebar-group__module__label {
  text-decoration: underline;
}

.sidebar-group__header,
.sidebar-group__header > .tab > button {
  display: block;
  align-items: center;
  width: 100%;
  pointer-events: none;
}

.sidebar-group__module__icon .ring-icon--tools2,
.sidebar-group__module__icon .ring-icon--settings2 {
  left: -5px;
}

/* --- End Sidebar Group Module --- */
/* -- End Sidebar Group -- */

/* -- Working Area -- */
.working-area {
  width: 70%;
  margin-right: 30px;
  border-radius: 8px 8px 0px 0px;
}

.working-area__title {
  padding: 10px 20px;
  border-radius: 8px 8px 0px 0px;
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--theme-color-4);
}
/* -- End Working Area -- */

/* -- Work Style Select -- */

.workflow-select__header {
  flex-direction: column;
  display: flex;
  border-bottom: 1px solid var(--gray-3);
  background-color: var(--gray-1);
}

.workflow-select__header__content svg {
  padding-right: 15px
}

.accordion__header > .tab > .button,
.workflow-select__header__title > .tab > .button {
  display: block;
  width: 100%;
  height: 41px;
  text-align: left;
  pointer-events: none;
}

.accordion__header .button__label,
.workflow-select__header__title .button__label {
  text-transform: uppercase;
}

.workflow-select__header__content {
  flex-direction: row;
  display: flex;
  padding: 13px;
}

.workflow-select__content {
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 15px;
  background-color: var(--white);
}

.workflow-select__content__name {
  padding: 15px;
}

.workflow-select__content .card-group__card .card {
  min-width: 70%;
}

.workflow-select__content .module-icon__hover-mask {
  visibility: hidden;
}

.workflow-select__content .module-icon {
  width: 60px;
  height: 60px;
}

.workflow-select__content .module-icon__hover-mask,
.workflow-select__content .module-icon--selected .module-icon__hover-mask,
.workflow-select__content .module-icon:hover .module-icon__hover-mask {
  visibility: hidden;
}

/* -- End Work Style Select -- */

/* - Wizard - */

.wizard {
  background-color: var(--white);
}

.wizard-header {
  margin-bottom: 15px;
}

.wizard-header__banner {
  display: flex;
  align-items: center;
  margin-top: -20px;
  padding: 0px 20px 10px;
}

.wizard-header__banner__icon {
  margin-right: 32px;
}

.wizard-header__banner__title {
  margin-right: 32px;
  font-size: var(--font-size-22);
  font-weight: var(--font-weight-300);
}

.wizard-header__banner__notes-button--minus .button__icon {
  top: -4px;
}

.wizard-add-notes {
  padding: 5px;
}

.wizard-add-notes .button__icon,
.wizard-header__banner__notes-button--plus .button__icon {
  top: -2px;
}

.wizard-header__results-toolbar {
  display: flex;
  flex-direction: row;
  padding: 12px;
  border-top: 2px dotted var(--gray-4);
  border-bottom: 2px dotted var(--gray-4);
}

.wizard-header__results-tabs {
  padding-top: 30px;
}

.wizard-header__results-toolbar__date,
.wizard-header__results-toolbar__file-name {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
}

.wizard-header__results-toolbar__date__label,
.wizard-header__results-toolbar__file-name__label {
  font-weight: var(--font-weight-bold)
}

.wizard-header__results-toolbar__date__value,
.wizard-header__results-toolbar__file-name__value {
  padding-left: 5px
}

.wizard-header__results-toolbar__tools {
  margin-left: auto;
  padding-right: 100px;
}

.wizard-header__submodule-tabs > .tab-group > .tab:first-child {
  margin-left: 20px;
}

.wizard-navigation {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--white);
}

.wizard-group__header {
  padding: 5px 18px;
  color: white;
  background-color: var(--theme-color-2);
}

.wizard-graph__output-header,
.wizard-group--level-1 > .wizard-group__header {
  padding: 5px 18px;
  color: black;
  background-color: var(--lightblue-2);
}

.wizard-group--level-2 > .wizard-group__header {
  padding: 5px 18px;
  color: black;
  font-weight: var(--font-weight-500);
  background-color: white;
}

.wizard-page__body {
  overflow-x: scroll;
  overflow-y: scroll;
  height: 540px;
  width: 100%;
}

/* .wizard-io { */
/*   overflow-x: hidden; */
/*   overflow-y: scroll; */
/*   height: 600px; */
/* } */

.wizard-group__inputs {
  padding: 25px 30px;
}

.wizard-repeat-group__header {
  padding: 5px 18px;
  font-weight: var(--font-weight-500);
  background-color: var(--medblue-1);
}

.wizard-group__outputs {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  padding-bottom: 20px;
}

.wizard-output {
  padding: 25px 20px 0px;
}

.wizard-input {
  display:flex;
  padding: 25px 30px;
}

.wizard-input + .wizard-input {
  border-top: dotted 1px var(--black);
}

.wizard-input + .wizard-input:last-child {
  border-bottom: dotted 1px var(--black);
}

.wizard-input__input {
  width: 300px;
  padding: 5px;
}

.wizard-input__description {
  width: 20%;
}

.wizard-input__description__units {
  font-size: var(--font-size-14);
  color: var(--gray-5);
}

.wizard-input__description .button {
  margin-top: 5px;
  padding-bottom: 0px;
}

.wizard-input__range-selector-button {
  width: 50%;
  margin-top: 5px;
}

/* -- Wizard review -- */

.wizard-review {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 600px;
}

.wizard-review-group__inputs {
  padding: 25px 30px;
  border-bottom: 2px dotted var(--gray-4);
}

.wizard-review__run-description__header {
  padding: 10px;
  color: var(--white);
  background: var(--darkblue-3);
}

.wizard-review__run-description__input {
  flex-direction: row;
  display: flex;
  padding: 25px 30px;
}

.wizard-review-repeat-group__message,
.wizard-review__run-description__message {
  padding-left: 24px;
  font-size: var(--font-size-14);
  color: var(--gray-5)
}

.wizard-review-repeat-group__message > .button,
.wizard-review__run-description__message .button {
  padding-left: 0px;
}

.wizard-review-repeat-group__message > .button:hover,
.wizard-review__run-description__message .button:hover {
  color: var(--orange-4);
  background: transparent;
  cursor: default;
}

.wizard-review__module {
  padding: 10px;
  color: var(--white);
  background: var(--theme-color-2);
}

.wizard-review-repeat-group__input {
  flex-direction: row;
  display: flex;
}

.wizard-review-repeat-group__manage {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.wizard-review__submodule-header {
  padding: 27px 0px 0px 0px;
  border-bottom: 2px solid var(--gray-4);
  font-size: var(--font-size-22);
  font-weight: var(--font-weight-bold);
}

.wizard-review .input-text__input {
  width: 250px;
}

.wizard-review .input-text {
  margin-top: auto;
  margin-bottom: auto;
}

.wizard-review__input {
  display: flex;
  width: 100%;
  padding: 5px;
}

.wizard-review__input .button {
  margin: 5px;
}

.wizard-review__input--discrete {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.wizard-review__input--discrete__label {
  color: var(--gray-4);
}

.wizard-review__input--discrete__value {
  padding-left: 5px;
  text-decoration: underline;
}
/* -- End Wizard review -- */

.wizard-results__table-settings__header,
.wizard-results__graph-settings__header {
  padding: 5px 18px;
  color: var(--white);
  background-color: var(--darkblue-3);
}

.wizard-results__table-settings__content,
.wizard-results__graph-settings__content {
  padding: 20px 18px;
}

.table-settings__map-units-form__units,
.table-settings__map-units-form__map-rep-fraction {
  padding-top: 10px;
}

.wizard-results__graph-settings__content .input-radio-group__label {
  padding: 20px 0px 20px 0px;
  font-weight: var(--font-weight-bold);
}

.wizard-results__graph-settings__content .input-radio-group {
  flex-direction: column;
  display: flex;
}

.wizard-results__graph-settings__content .input-radio-group__options {
  flex-direction: row;
  display: flex;
}

.wizard-results__graph-settings__content .input-radio-group .input-radio +.input-radio {
  margin-left: 30px;
}

.wizard-results__table-settings__content .settings-form,
.wizard-results__graph-settings__content .settings-form {
  padding: 20px 0px 20px 0px;
}

.wizard-results__table-settings__content .settings-form,
.wizard-results__graph-settings__content .settings-form .table{
  width: 100%;
}

.table td {
  text-align:left;
}

#right,
.table td + td {
  text-align:right;
}

.wizard-graph__header,
.wizard-print__header,
.wizard-notes__header {
  margin-top: 30px;
  margin-bottom: 33px;
  padding: 5px 18px;
  font-size: var(--font-size-18);
  color: white;
  background-color: var(--darkblue-3);
}

.wizard-note {
  padding-bottom: 10px;
}

.wizard-note__module {
  margin-bottom: 20px;
  padding: 5px 18px;
  font-size: var(--font-size-18);
  color: white;
  background-color: var(--darkblue-2);
}

.wizard-note__name {
  padding: 5px 18px;
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-bold);
  color: var(--medblue-3);
  background-color: none;
}

.wizard-note .note__input-title {
  padding: 5px 18px;
}

.wizard-note .note textarea {
  margin: 18px 0px 18px 0px;
}

.wizard-note__content {
  margin: 5px 0px 5px 18px;
  padding: 18px 0px 18px 0px;
  border-top: solid 1px var(--gray-4);
  border-bottom: dashed 1px var(--gray-4);
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-16);
  color: var(--black);
}

.wizard-note__manage {
  flex-direction: row;
  display: flex;
  justify-content: right;
  padding: 18px 33px 18px 0px;
}

.wizard-note__manage .button +.button {
  margin-left: 60px;
}

.wizard-note .note > textarea {
  height: 100px;
  font-size: var(--font-size-16);
}

/* - End Wizard - */

/* -- Help Area -- */

.help-area {
  width: 30%;
  min-width: 20%;
}

.help-area__content {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 480px;
  padding: 5.5%;
  font-family: 'Roboto', sans-serif;
  background: var(--white);
}

.help-area__content h1,
.help-area__content h2,
.help-area__content h3,
.help-area__content h4,
.help-area__content h5,
.help-area__content h6 {
    margin: 0px;
    transition: color .1s ease-in-out,
                background .2s ease-in-out,
                padding .2s ease-in-out;
}

/* Help Headers */

.help-area__content h1 {
    padding-bottom: 0px;
    font-size: 2em;
    font-weight: 500;
    line-height: 32px;
}

.help-area__content h2 {
    padding-bottom: 6px;
    border-bottom: 1px solid #707070;
    font-size: 1.700em;
    font-weight: 400;
    line-height: 1.700em;
}

.help-area__content h3 {
    font-size: 1.300em;
    font-weight: 300;
    line-height: 1.600em;
}

.help-area__content h4 {
    margin-top: 20px;
    font-size: 1.200em;
    font-weight: 500;
    line-height: 18px;
    color: #13486A;
}

.help-area__content h5 {
    margin-bottom: 0px;
    padding: 10px 10px 10px 10px;
    font-size: 1.200em;
    font-weight: 500;
    line-height: 18px;
    color: white;
    background: #3F454A;
}

.help-area__content h6 {
    margin-top: 20px;
    font-size: 1.200em;
    font-weight: 400;
    line-height: 18px;
    text-decoration: underline;
    color:black;
}

.help-area__content p {
    margin-top: 12px;
    margin-bottom: 30px;
    font-size: 1.000em;
    font-weight: 400;
    line-height: 26px;
}

.help-area__content hr {
    padding-bottom: 6px;
}

/* Highlight */

.help-area__content .highlight > .help-section__content {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    background: #EDF2F5;
}

.help-area__content .highlight > .help-section__content h1,
.help-area__content .highlight > .help-section__content h2,
.help-area__content .highlight > .help-section__content h3,
.help-area__content .highlight > .help-section__content h4,
.help-area__content .highlight > .help-section__content h5,
.help-area__content .highlight > .help-section__content h6 {
    margin-bottom: 0px;
    padding: 10px;
    text-decoration: underline;
    color: white;
    background: #5788A7;
}

.help-area__content .highlight > .help-section__content p {
    margin-top: 0px;
    padding: 10px;
}

.atlwdg-trigger.atlwdg-TOP {
  z-index: 100;
}

.diagram__table {
  display: inline-block;
  vertical-align: top;
  padding-right: 15px;
  border-spacing: 10px 0;
}

.diagram__table td:first-child{
  text-align: right;
  font-weight: var(--font-weight-bold);
}

.diagram {
  padding-bottom: 20px;
}

/* -- End Help Area -- */


/* -- Tool -- */
.tool .accordion__header {
  position: relative;
}

.tool .accordion__body {
  margin-bottom: 10px;
  padding: 10px;
  background: var(--white);
}

.tool-output,
.tool-input {
  display: flex;
  padding-bottom: 5px;
  min-height: 40px;
  align-items: center;
}

.tool-input .input-dropdown__select-wrapper {
  margin-top: 0px;
}

.tool-input .input-dropdown__label,
.tool-input .input-radio-group__label {
  padding: 0px 10px 0px 5px;
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-bold);
  color: black;
}

.tool-input .input-dropdown {
  display: inline-block;
}

.tool-input .input-dropdown__label {
  padding: 0px 10px 0px 5px;
}

.tool-input + .tool-input:last-child {
  border-bottom: dotted 1px var(--black);
}

.tool-output__output,
.tool-input__input {
  width: 70%;
  padding: 5px;
}

.tool-output__description,
.tool-input__description {
  width: 30%;
}

.tool-output__description__units,
.tool-input__description__units {
  font-size: var(--font-size-14);
  color: var(--gray-5);
}

.tool__close {
  position: absolute;
  top: 5px;
  right: 10px;
  fill: var(--white);
}

.tool__close > .button {
  width: 30px;
  height: 30px;
  padding: 0px;
  border-radius: 50%;
}

.tool__close > .button:hover {
  color: var(--theme-color-4);
  background-color: var(--white);
}

/* -- End Tool -- */


/* -- Settings View -- */

.settings__general-units .input-dropdown {
  display: inline;
}


.settings__general-units .input-number__input {
  width: 40px;
}

/* -- End View -- */


/* -- Print View -- */

.print__ws-name {
  text-align: center;
  font-weight: var(--font-weight-bold)
}

.print__ws-date {
  text-align: center;
}

.print {
  overflow-y: scroll;
}

.print__inputs-table .table-header__header,
.print__inputs-table .table-cell {
  white-space: pre;
  text-align: left;
}

.print__inputs-table .table {
  width: 100%;
}

.print__result-table {
  padding-top: 10px;
  padding-bottom: 10px;
}


.wizard-print__header {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media print {

  .page:after,
  .help-area,
  .page__top,
  .sidebar-container,
  .toolbar {
    display: none;
  }

  .working-area {
    width: 100%;
    margin: 0px;
  }

  .page__main {
    padding-top: 0px;
    margin-top: 0px;
    width: 100%;
  }

  .container {
    margin: 0px;
  }

  .print,
  .wizard-page__body {
    overflow-x: visible;
    overflow-y: visible;
  }

}

/* -- End Print View -- */

.result-matrix-cell-value {
  display: flex;
  flex-direction: row;
}
