#kaocha/v1
{:plugins [:print-invocations :hooks]
 :reporter kaocha.report/documentation

 ;; Make sure no information gets hidden, since this kind of setup can take a
 ;; bit of debugging to get it right
 :capture-output? false
 :bindings {kaocha.stacktrace/*stacktrace-filters* []}

 ;; Skip tagged tests by default:
 ;; :stress — long-running stress tests
 ;; :persist — page-reload persistence test
 :kaocha.filter/skip-meta [:stress :persist]

 :tests [{:id :browser
          :type :kaocha.type/cljs2
          :ns-patterns      ["-test$"]
          :source-paths     ["src"]
          :test-paths       ["test"]

         ;; This is used in our own hooks to select the right shadow build to compile
         ;; :shadow/build :test-kaocha

         ;; Hooks to ensure funnel is running, ensure the shadow-server is
         ;; started, and to run the compilation
         ;; :kaocha.hooks/pre-load-test kaocha-hooks/pre-load

         ;; The client hook is responsible for finding JS environments (via
         ;; funnel) that we can talk to. In our case it checks if any valid
         ;; clients are already connected to funnel, if not it opens a browser.
         ;; This way we can reuse the browser tab
         :kaocha.cljs2/clients-hook kaocha-hooks/launch-browser-and-wait
         :kaocha.cljs2/timeout 120000
         }]}
