^{:launch-js  "./bin/headless-chrome"
  :watch-dirs ["src/cljs" "test/cljs"]}
{:main          "behave.test-runner"
 :output-dir    "resources/public/cljs"
 :output-to     "resources/public/cljs/app.js"
 :asset-path    "/cljs/"
 :source-map    true
 :optimizations :none
 :pretty-print  true}
