{:main            "behave.client"
 :output-dir      "resources/public/cljs"
 :output-to       "resources/public/cljs/app.js"
 :source-map      "resources/public/cljs/app.js.map"
 :fingerprint     true
 :optimizations   :advanced
 :pretty-print    false
 :closure-defines {"goog.DEBUG" false}}
