{:paths     ["src/clj" "src/cljs" "resources"]

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo"}}

 :deps      {;; Clojure
             clj-http/clj-http             {:mvn/version "3.10.1"}
             org.clojure/clojure           {:mvn/version "1.11.1"}
             org.clj-commons/digest        {:mvn/version "1.4.100"}
             ring/ring                     {:mvn/version "1.10.0"}
             ring/ring-defaults            {:mvn/version "0.3.3"}
             me.raynes/fs                  {:mvn/version "1.4.6"}
             sig-gis/triangulum            {:git/url "https://github.com/sig-gis/triangulum"
                                            :sha     "3d41dab63e1bc8ebe046f64db44ae3df986f5bdf"}

             ;; Common
             cljs-ajax/cljs-ajax                     {:mvn/version "0.8.4"}
             datascript/datascript                   {:mvn/version "1.5.3"}
             io.github.tonsky/datascript-storage-sql {:mvn/version "1.0.0"}
             nano-id/nano-id                         {:mvn/version "1.1.0"}
             org.clojure/data.xml                    {:mvn/version "0.2.0-alpha7"}
             org.xerial/sqlite-jdbc                  {:mvn/version "3.43.0.0"}

             ;; ClojureScript
             org.clojure/clojurescript     {:mvn/version "1.11.54"}
             org.clojure/core.async        {:mvn/version "1.2.603"}
             re-frame/re-frame             {:mvn/version "1.3.0-rc3" :exclusions [reagent/reagent]}
             day8.re-frame/http-fx         {:mvn/version "0.2.4"}
             day8.re-frame/test            {:mvn/version "0.1.5"}
             re-frame-utils/re-frame-utils {:mvn/version "0.1.0"}
             re-posh/re-posh               {:mvn/version "0.3.3"}
             reagent/reagent               {:mvn/version "0.10.0" :exclusions [cljsjs/react cljsjs/react-dom cljsjs/react-dom-server]}
             cljsjs/react                  {:mvn/version "16.13.0-0" :exclusions [cljsjs/react-dom]}
             cljsjs/react-dom              {:mvn/version "16.13.0-0" :exclusions [cljsjs/react-dom-server]}
             cljsjs/vega                   {:mvn/version "5.20.2-0"}
             cljsjs/vega-embed             {:mvn/version "6.0.0-0"}
             cljsjs/vega-lite              {:mvn/version "5.1.1-0"}
             austinbirch/reactive-entity   {:mvn/version "0.2.0"}
             com.google.guava/guava        {:mvn/version "31.0.1-jre"}

             ;; Components
             sig/async-utils               {:local/root "../../components/async_utils"}
             sig/browser-utils             {:local/root "../../components/browser_utils"}
             sig/config                    {:local/root "../../components/config"}
             sig/csv-parser                {:local/root "../../components/csv_parser"}
             sig/file-utils                {:local/root "../../components/file_utils"}
             sig/data-utils                {:local/root "../../components/data_utils"}
             sig/date-utils                {:local/root "../../components/date_utils"}
             sig/datom-utils               {:local/root "../../components/datom_utils" :exclusions [datascript/datascript io.replikativ/datahike]}
             sig/dom-utils                 {:local/root "../../components/dom_utils"}
             sig/ds-schema-utils           {:local/root "../../components/ds_schema_utils"}
             sig/map-utils                 {:local/root "../../components/map_utils"}
             sig/number-utils              {:local/root "../../components/number_utils"}
             sig/logging                   {:local/root "../../components/logging"}
             sig/markdown2hiccup           {:local/root "../../components/markdown2hiccup"}
             sig/server                    {:local/root "../../components/server"}
             sig/schema-migrate            {:local/root "../../components/schema_migrate"}
             sig/string-utils              {:local/root "../../components/string_utils"}
             sig/transport                 {:local/root "../../components/transport"}
             sig/datom-compressor          {:local/root "../../components/datom_compressor"}

             ;; Bases
             sig/behave-components         {:local/root "../../bases/behave_components" :exclusions [org.clojure/clojurescript
                                                                                                     reagent/reagent
                                                                                                     cljsjs/react
                                                                                                     cljsjs/react-dom]}
             sig/behave-routing            {:local/root "../../bases/behave_routing"}
             sig/behave-schema             {:local/root "../../bases/behave_schema"}
             sig/datom_store               {:local/root "../../bases/datom_store" :exclusions [datascript/datascript]}}

 :aliases   {:figwheel-lib     {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.13"}}}
             :figwheel         {:extra-paths ["test/cljs"]
                                :extra-deps  {com.bhauman/figwheel-main       {:mvn/version "0.2.13"}
                                              com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}
                                :main-opts   ["-m" "figwheel.main" "-b" "compile-dev" "-r"]}
             :compile-cljs     {:main-opts ["-m" "behave.compile-cljs" "compile-prod.cljs.edn"]}
             :production       {:jvm-opts ["-XX:MaxRAMPercentage=90" "-XX:+PrintFlagsFinal"]}
             :server           {:main-opts ["-m" "behave.core"]}
             :build            {:deps       {io.github.seancorfield/build-clj
                                             {:git/tag   "v0.8.5"
                                              :git/sha   "de693d0"
                                              :deps/root "slim"}}
                                :ns-default build}
             :check-reflection {:main-opts ["-e" "(do,(set!,*warn-on-reflection*,true),nil)"
                                            "-e" "(require,'behave.server)"]}
             :check-deps       {:extra-deps {olical/depot {:mvn/version "2.3.0"}}
                                :main-opts  ["-m" "depot.outdated.main"]}
             :test             {:extra-paths ["test/cljs"]
                                :extra-deps  {}}}}
