{:css-dirs            ["../../bases/behave_components/resources/public/css"
                       "resources/public/css"]
 :watch-dirs          ["src/cljs"
                       "../../bases/behave_components/src"]
 :ring-server-options {:port 8081 :join? false}
 :ring-handler        behave.core/development-app
 :open-url            "http://localhost:8081/worksheets"
 :clean-outputs       true}
