/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  @import url('/css/roboto-font.css');
}

/* Variables */
:root {
  /* Colors: */
  --check-mark-green: #6CBC00;
  --sucess: #91D634;
  --warning: #FF7600;
  --error: #F51818;
  --almost-black: #000000DE;
  --black: #000000;
  --darkblue-1: #6B8696;
  --darkblue-2: #6B7781;
  --darkblue-3: #3E4C56;
  --darkblue-4: #163040;
  --darkblue-5: #082233;
  --darkblue-6: #31495D;
  --gray-1:  #FAFAFA;
  --gray-2:  #F5F5F5;
  --gray-3:  #E0E0E0;
  --gray-4:  #A0A0A0;
  --gray-5:  #707070;
  --gray-6:  #2B3238;
  --gray-7:  #414141;
  --gray-8:  #292929;
  --gray-9:  #91A7B4;
  --gray-10: #000024;
  --green-1: #CEDD8D;
  --green-2: #BCD161;
  --green-3: #A6C422;
  --green-4: #95AC33;
  --green-5: #798E1A;
  --green-5: #94A839;
  --green-6: #768920;
  --greenmint-1: #F8FAEF;
  --highlight: #F2FF91;
  --lightblue-1: #EDF2F5;
  --lightblue-2: #D2E3ED;
  --lightblue-3: #DCE4E8;
  --lightblue-4: #C6D3DE;
  --lightblue-5: #C7D3D9;
  --medblue-1: #99BCD3;
  --medblue-2: #5788A7;
  --medblue-3: #13486A;
  --medblue-4: #18415C;
  --orange-1: #FCC06F;
  --orange-2: #FF9D71;
  --orange-3: #F88F60;
  --orange-4: #E06E59;
  --peach-1: #FFD7CE;
  --peach-2: #FFD1BC;
  --pink-1: #FF74A9;
  --red-1: #FF5C5C;
  --red-2: #BD5E5B;
  --red-3: #80470F;
  --white: #FFFFFF;
  --yellow-1: #FFF8BE;
  --yellow-2: #FFF28D;
  --yellow-3: #FFE93C;
  --yellow-4: #EDCD47;

  /* Fonts */
  --font-family: 'Roboto', 'sans-serif';
  --font-family-roboto: 'Roboto', 'sans-serif';
  /* Font/Text: */
  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-style-normal: normal;
  --font-weight-300: 300;
  --font-weight-500: 500;
  --font-weight-bold: bold;
  --font-weight-medium: medium;
  --font-weight-normal: normal;
  --character-spacing-0-32: 0.32px;
  --character-spacing-0-4: 0.4px;
  --character-spacing-0-54: 0.54px;
  --character-spacing-0: 0px;
  --line-spacing-16: 16px;
  --line-spacing-18: 18px;
  --line-spacing-20: 20px;
  --line-spacing-22: 22px;
  --line-spacing-24: 24px;
  --line-spacing-26: 26px;
  --uppercase: uppercase;


  /* Application should use these variables for changing themes */
  --theme-color-1: var(--medblue-4);
  --theme-color-2: var(--medblue-3);
  --theme-color-3: var(--medblue-2);
  --theme-color-4: var(--darkblue-4);
  --theme-color-5: var(--darkblue-3);
  --theme-color-6: var(--lightblue-1);
  --theme-color-highlight: var(--orange-4);

}
/* - End Variables - */

/* - Globals - */
html, body{
  margin: 0px;
  padding: 0px;
  font-family: var(--font-family);
}
/* - End Globals - */

/* - Fonts - */
/* -- Headers -- */
h1 {
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-medium);
  font-style: var(--font-style-normal);
  line-height: var(--line-spacing-24);
  letter-spacing: var(--character-spacing-0);
  color: var(--almost-black);
}
h2 {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-22);
  font-weight: var(--font-weight-medium);
  font-style: var(--font-style-normal);
  line-height: var(--line-spacing-22);
  letter-spacing: var(--character-spacing-0);
  color: var(--almost-black);
}
h3 {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-300);
  font-style: var(--font-style-normal);
  line-height: var(--line-spacing-20);
  letter-spacing: var(--character-spacing-0);
  color: var(--almost-black);
}
h4 {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-medium);
  font-style: var(--font-style-normal);
  line-height: var(--line-spacing-18);
  letter-spacing: var(--character-spacing-0);
  color: var(--almost-black);
}
h5 {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);
  font-style: var(--font-style-normal);
  line-height: var(--line-spacing-16);
  letter-spacing: var(--character-spacing-0);
  color: var(--almost-black);
}
/* -- End Headers -- */

/* -- Labels -- */
.label {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-bold);
  font-style: var(--font-style-normal);
  line-height: var(--line-spacing-18);
  letter-spacing: var(--character-spacing-0);
  color: var(--almost-black);
}
.label--xsmall {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-normal);
  font-style: var(--font-style-normal);
  line-height: var(--line-spacing-24);
  letter-spacing: var(--character-spacing-0);
}
.label--small {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-medium);
  font-style: var(--font-style-normal);
  line-height: var(--line-spacing-16);
  letter-spacing: var(--character-spacing-0);
}
.label--large {
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-medium);
  font-style: var(--font-style-normal);
  line-height: var(--line-spacing-18);
  letter-spacing: var(--character-spacing-0-32);
}
.label--xlarge {
  font-size: var(--font-size-22);
  font-weight: var(--font-weight-medium);
  font-style: var(--font-style-normal);
  line-height: var(--line-spacing-22);
  letter-spacing: var(--character-spacing-0-4);
}
/* -- End Labels -- */

/* -- Paragraphs -- */
p {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-normal);
  font-style: var(--font-style-normal);
  line-height: var(--line-spacing-24);
  letter-spacing: var(--character-spacing-0);
  color: var(--black);
}
.p--small {
  font-size: var(--font-size-10);
  font-weight: var(--font-weight-normal);
  font-style: var(--font-style-normal);
  line-height: var(--line-spacing-18);
  letter-spacing: var(--character-spacing-0);
}
.p--light {
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-300);
  line-height: var(--line-spacing-20);
}
.p--cards {
  line-height: var(--line-spacing-20);
  color: var(--gray-5);
}
.p--message {
  line-height: var(--line-spacing-18);
}
.p--xlarge {
  font-size: var(--font-size-16);
  line-height: var(--line-spacing-26);
}
/* -- End Paragraphs -- */

/* -- Help -- */
.help-topic {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-22);
  font-weight: var(--font-weight-medium);
  font-style: var(--font-style-normal);
  line-height: var(--line-spacing-22);
  letter-spacing: var(--character-spacing-0-4);
  text-transform: var(--text-transform-uppercase);
  color: var(--almost-black);
}

.help-subtopic {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-normal);
  font-style: var(--font-style-normal);
  line-height: var(--line-spacing-18);
  letter-spacing: var(--character-spacing-0-54);
  color: var(--black);
}

.help-paragraph {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-normal);
  font-style: var(--font-style-normal);
  line-height: var(--line-spacing-22);
  letter-spacing: var(--character-spacing-0);
  color: var(--black);
}
/* -- End Help -- */


/* -- Misc. Fonts -- */
.appname {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-10);
  font-weight: var(--font-weight-medium);
  font-style: var(--font-style-normal);
  line-height: var(--line-spacing-18);
  letter-spacing: var(--character-spacing-0);
  text-transform: var(--text-transform-uppercase);
  color: var(--gray-5);
}

.dropdown-text {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-normal);
  font-style: var(--font-style-normal);
  line-height: var(--line-spacing-20);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-464a53);
}

.footer-menu {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-medium);
  font-style: var(--font-style-normal);
  line-height: var(--line-spacing-24);
  letter-spacing: var(--character-spacing-0);
  color: var(--almost-black);
}
/* -- End Misc. Fonts */

/* -- Tabs -- */
.tab-label {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-normal);
  font-style: var(--font-style-normal);
  line-height: var(--line-spacing-16);
  letter-spacing: var(--character-spacing-0);
  color: var(--almost-black);
}

.tab-label--large {
  font-weight: var(--font-weight-medium);
  line-height: var(--line-spacing-24);
  color: var(--almost-black);
}

.tab-label--custom {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-spacing-18);
  color: var(--theme-color-3);
}

.tab-label--main {
  font-weight: var(--font-weight-bold);
  text-transform: var(--text-transform-uppercase);
  color: var(--white);
}

.tab-label--upper {
  font-weight: var(--font-weight-medium);
  line-height: var(--line-spacing-18);
  text-transform: var(--text-transform-uppercase);
}
/* -- End Tabs -- */
/* - End Fonts - */

/* - Accordion - */
.accordion {
  flex-direction: column;
  display: flex;
}

.accordion__item {
  position: relative;
}

.accordion__item__label {
  display: flex;
  align-items: center;
  height: 34px;
  padding: 0px 10px 0px 20px;
  border: 1px solid var(--gray-3);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-spacing-24);
  letter-spacing: var(--character-spacing-0);
  background-color: var(--gray-2);
  cursor: pointer;
}

.accordion__item__body {
  overflow: hidden;
  padding: 20px;
  background: var(--white);
}

.accordion-toggle {
  display: none;
}

.accordion-toggle-vertical-bar {
  display: flex;
  position: absolute;
  right: 0px;
  width: 30px;
  height: 36px;
  background: var(--gray-5);
  fill: var(--white);
}

.accordion-toggle-vertical-bar > svg {
  position: absolute;
  top: 17px;
  left: 10px;
  transition: transform .3s ease-in-out;
  transform: rotate(90deg);
}

.accordion-toggle-horizontal-bar > svg {
  position: absolute;
  top: 17px;
  left: 10px;
}

.accordion-toggle:checked ~ .accordion__item__collapse {
  max-height: 100vh;
}

.accordion-toggle:checked + .accordion__item__label > .accordion-toggle-vertical-bar > svg {
  transform-box: fill-box;
  transform: rotate(180deg);
  transform-origin: center;
}

.accordion__item__collapse {
  overflow: hidden;
  max-height: 0px;
  transition: max-height .25s ease-in-out;
}

/* - End Accordion - */

/* - Tabs - */
.tab > .button {
  min-width: 114px;
  border: 1px solid var(--lightblue-4);
  border-bottom: none;
  color: var(--theme-color-4);
  background-color: var(--lightblue-2);
}
/* - End Tabs - */

/* - Tab Group - */

.tab-group {
  display: flex;
  position: relative;
}

.tab-group > .tab {
  vertical-align: bottom;
}

.tab-group--align-right .tab,
.tab-group.tab-group--align-right {
  justify-content: flex-end;
  padding-left: 5px;
}

.tab-group--align-left .tab,
.tab-group.tab-group--align-left {
  justify-content: flex-start;
  padding-right: 5px;
}


/* -- Tab Group Variants -- */

.tab-group--outline-primary.tab-group--flat-edge-bottom {
  border-bottom: 6px solid var(--theme-color-2);
}

.tab-group--outline-secondary.tab-group--flat-edge-bottom {
  border-bottom: 6px solid var(--theme-color-3);
}

.tab-group--outline-highlight.tab-group--flat-edge-bottom {
  border-bottom: 6px solid var(--theme-color-highlight);
}

.tab-group--outline-primary.tab-group--flat-edge-top {
  border-top: 6px solid var(--theme-color-2);
}

.tab-group--outline-secondary.tab-group--flat-edge-top {
  border-top: 6px solid var(--theme-color-3);
}

.tab-group--outline-highlight.tab-group--flat-edge-top {
  border-top: 6px solid var(--theme-color-highlight);
}

/* -- End Tab Group Variants -- */

/* - End Tab Group - */

/* - Buttons - */
.button {
  flex-direction: row;
  display: flex;
  align-items: center;
  height: 33px;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-medium);
  color: var(--white);
  cursor: pointer;
}

/* -- Button Variants -- */

/* --- Button Solid --- */

.button--primary {
  background-color: var(--theme-color-1);
}

.button--secondary {
  background-color: var(--theme-color-3);
}

.button--highlight {
  background-color: var(--theme-color-highlight);
}

/* --- Button Outline --- */

.button--outline-primary {
  border: 1px solid var(--theme-color-1);
  color: var(--theme-color-1);
  background-color: var(--theme-color-6);
}

.button--outline-secondary {
  border: 1px solid var(--theme-color-3);
  color: var(--theme-color-3);
  background-color: var(--theme-color-6);
}

.button--outline-highlight {
  border: 1px solid var(--theme-color-highlight);
  color: var(--theme-color-highlight);
  background-color: var(--theme-color-6);
}

/* --- Button Transparent --- */

.button--transparent-primary {
  color: var(--theme-color-1);
  background: transparent;
}

.button--transparent-secondary{
  background: transparent;
  color: var(--theme-color-3);
}

.button--transparent-highlight {
  color: var(--theme-color-highlight);
  background: transparent;
}

/* --- Button States --- */


/* ---- Button Hover ---- */

.button--primary:hover {
  background-color: var(--theme-color-2);
}

.button--secondary:hover {
  background-color: var(--theme-color-5);
}

.button--highlight:hover {
  background-color: var(--theme-color-5);
}

.tab >.button:active,
.tab > .button--selected.button--outline-primary,
.button--outline-primary:hover {
  border: none;
  color: var(--white);
  background-color: var(--theme-color-2);
}

.tab > .button--selected.button--outline-secondary,
.button--outline-secondary:hover {
  border: none;
  color: var(--white);
  background-color: var(--theme-color-3);
}

.tab > .button--selected.button--outline-highlight,
.button--outline-highlight:hover {
  border: none;
  color: var(--white);
  background-color: var(--theme-color-highlight);
}

.button--transparent-primary:hover {
  color: var(--white);
  background-color: var(--theme-color-2);
}

.button--transparent-secondary:hover {
  color: var(--white);
  background-color: var(--theme-color-3);
}

.button--transparent-highlight:hover {
  color: var(--white);
  background-color: var(--theme-color-highlight);
}

/* ---- End Button Hover ---- */

/* ---- Button Active ---- */

.button--active, .button:active {
  background-color: var(--theme-color-4);
}

/* ---- Button Disabled ---- */

.button--disabled, .button:disabled {
  border: 1px solid var(--gray-3);
  color: var(--gray-3);
  background-color: var(--white);
  cursor: default;
}

.button--transparent-primary:disabled,
.button--transparent-secondary:disabled,
.button--transparent-highlight:disabled {
  border: none;
}

/* --- End Button States --- */
/* -- End Button Variants -- */

/* -- Button Size -- */

.button--small {
  height: 31px;
  padding: 6px 12px;
  font-size: var(--font-size-16);
}

.button--large {
  height: 37px;
  padding: 8px 12px;
  font-size: var(--font-size-18);
}

/* -- End Button Size -- */

/* -- Button Icon -- */

.button__icon {
  position: relative;
  top: 2px;
  fill: currentColor;
}

.button__icon + .button__label {
  margin-left: 10px;
}

.button__label + .button__icon {
  margin-right: 0px;
  margin-left: 10px;
}
/* -- End Button Icon -- */

/* -- Button Round Eges -- */

.button--flat-edge-top {
  border-radius: 0px 0px 8px 8px;
}

.button--flat-edge-right {
  border-radius: 8px 0px 0px 8px;
}

.button--flat-edge-bottom {
  border-radius: 8px 8px 0px 0px;
}

.button--flat-edge-left {
  border-radius: 0px 8px 8px 0px;
}

.button--flat-edge-all {
  border-radius: 0px 0px 0px 0px;
}
/* -- End Button Round Edges -- */
/* - End Buttons - */

/* - Cards - */

.card {
  flex-direction: column;
  display: flex;
  width: fit-content;
  padding: 9px;
  border: 1px solid var(--gray-2);
  border-radius: 6px;
  background-color: var(--gray-1);
  box-shadow: 1px 1px 1px #00000014;
  transition: border-color 200ms ease-in-out;
  cursor: pointer;
}

.card--normal {
  max-width: 300px;
}

.card--large {
  max-width: 600px;
}

.card__header {
  display: flex;
  align-items: center;
}

.card__header__icons {
  display: flex;
  justify-content: left;
  align-items: center;
}

.card__header__icon {
  margin-right: 10px;
}

.card__header__title {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);
  font-style: var(--font-style-normal);
  line-height: var(--line-spacing-22);
  letter-spacing: var(--character-spacing-0-4);
}

.card__content {
  line-height: var(--line-spacing-20);
  color: var(--gray-5);
}

.card__header__circle {
  display: relative;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  border: 1px solid var(--gray-7);
  border-radius: 50px;
  background-color: var(--white);
}

.card__header__circle__dot {
  width: 10px;
  height: 10px;
  margin: 3px;
  border: 1px solid var(--gray-7);
  border-radius: 50px;
  background-color: var(--white);
  transition: background-color 200ms ease-in-out;
}

.card-group {
  flex-wrap: wrap;
  display: flex;
  max-width: 1200px;
}

.card-group--flex-direction-row {
  flex-direction: row;
}

.card-group--flex-direction-column {
  flex-direction: column;
}

.card-group__card {
  margin: 10px;
}

/* -- Card States -- */

.card:not([class~=card--disabled]):hover .card__header__title,
.card--selected:not([class~=card--disabled]) .card__header__title {
  font-weight: var(--font-weight-bold);
}

.card:not([class~=card--disabled]):hover,
.card--selected {
  border-color: var(--gray-4);
  border-radius: 6px;
}

.card:not([class~=card--selected]):not([class~=card--disabled]):hover .card__header__circle__dot {
  background-color: var(--gray-3);
}

.card--selected .card__header__circle__dot {
  background-color: var(--check-mark-green);
}

.card.card--disabled:hover,
.card--disabled .card__header__title,
.card--disabled .card__content {
  color: var(--gray-3);
  cursor: default;
}

.card--disabled .card__header__circle,
.card--disabled .card__header__circle__dot {
  border-color: var(--gray-3);
  background-color: var(--gray-1);
}

/* - End Cards - */

/* - Inputs - */

/* -- Checkbox Input -- */

.input-checkbox {
  flex-direction: row;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.input-checkbox__box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 3px;
}

.input-checkbox__box__check {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 2px;
}

.input-checkbox__input {
  visibility: hidden;
  position: absolute;
  width: 0px;
  height: 0px;
}

.input-checkbox__label {
  padding-left: 10px;
}

/* --- Checkbox States --- */
.input-checkbox:not(.input-checkbox--checked):not(.input-checkbox--disabled):not(.input-checkbox--error):hover .input-checkbox__box__check {
  background-color: var(--gray-3);
}

.input-checkbox--checked .input-checkbox__box__check {
  border-color: var(--check-mark-green);
  background-color: var(--check-mark-green);
}

.input-checkbox--checked .input-checkbox__box__check::after {
  display: block;
  position: relative;
  top: -5px;
  left: -1px;
  box-sizing: border-box;
  width: 6px;
  height: 10px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  color: var(--white);
  transform: rotate(45deg);
  transform-origin: bottom left;
  content: ' ';
}

.input-checkbox--disabled {
  cursor: default;
}

.input-checkbox--disabled .input-checkbox__box,
.input-checkbox--disabled .input-checkbox__box__check {
  border-color: var(--gray-3);
  background-color: none;
}

.input-checkbox--disabled .input-checkbox__label {
  color: var(--gray-3);
}

.input-checkbox--disabled {
  cursor: default;
}

.input-checkbox--error .input-checkbox__label {
  color: var(--error);
}

.input-checkbox--error .input-checkbox__box__check {
  position: relative;
  border-color: var(--error);
  background-color: var(--error);
}

.input-checkbox--error .input-checkbox__box__check::before,
.input-checkbox--error .input-checkbox__box__check::after {
  position: absolute;
  top: 4px;
  left: -1px;
  width: 12px;
  height: 2px;
  border-radius: 5px;
  background: var(--white);
  transform: rotate(45deg);
  content: "";
}

.input-checkbox--error .input-checkbox__box__check::before {
  transform: rotate(-45deg);
}

/* --- End Checkbox States --- */
/* -- End Checkbox Input -- */

/* -- Browse Input -- */

.input-browse {
  position: relative;
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid var(--gray-3);
}

.input-browse__input {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.input-browse__label {
  margin-left: 11px;
}

.input-browse--focused {
  border: 1px solid var(--almost-black);
}

.input-browse--error {
  border: 1px solid var(--error);
}

.input-browse--error .input-browse__label {
  color: var(--error);
}

.input-browse--disabled {
  color: var(--gray-3);
}
/* -- End Browse Input -- */

/* -- Dropdown Input -- */
.input-dropdown {
  flex-direction: column;
  display: flex;
}

.input-dropdown__label {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-medium);
  font-style: normal;
  text-align: left;
  color: var(--gray-6);
}

.input-dropdown__select-wrapper {
  padding-right: 20px;
  display: inline-block;
  position: relative;
  max-width: 200px;
  margin-top: 9px;
  cursor: pointer;
}

.input-dropdown__select-wrapper::before {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  width: 20px;
  border: 1px solid var(--gray-5);
  border-radius: 0px 4px 4px 0px;
  background: var(--gray-3);
  content: ' ';
  cursor: pointer;
}

/* To modify fill in SVG elements in :after, we use the SVG as a mask
 * More info: https://stackoverflow.com/questions/21509982/change-svg-fill-color-in-before-or-after-css
 */
.input-dropdown__select-wrapper::after {
  mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8"><path d="M5.3,7.43a1,1,0,0,1-1.36.39,1,1,0,0,1-.39-.39L.25,1.49A1,1,0,0,1,.64.13.91.91,0,0,1,1.12,0h6.6a1,1,0,0,1,1,1,1,1,0,0,1-.12.49Z" transform="translate(-0.12 0) scale(0.4)"/></svg>');
  -webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8"><path d="M5.3,7.43a1,1,0,0,1-1.36.39,1,1,0,0,1-.39-.39L.25,1.49A1,1,0,0,1,.64.13.91.91,0,0,1,1.12,0h6.6a1,1,0,0,1,1,1,1,1,0,0,1-.12.49Z" transform="translate(-0.12 0) scale(0.4)"/></svg>');
  position: absolute;
  top: 12px;
  right: -2px;
  bottom: 0px;
  z-index: 2;
  width: 16px;
  height: 16px;
  background-color: var(--gray-5);
  content: ' ';
  cursor: pointer;
}

.input-dropdown__select-wrapper__select {
  appearance: none;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 6px 10px;
  border: 1px solid var(--gray-5);
  border-radius: 4px;
  font-size: var(--font-size-14);
  transition: border ease-in-out 200ms;
  transition: box-shadow ease-in-out 200ms;
  cursor: pointer;
}

.input-dropdown__option {}

.input-dropdown__option-group {}

/* --- Dropdown States --- */
.input-dropdown:hover .input-dropdown__select-wrapper__select,
.input-dropdown:hover .input-dropdown__select-wrapper::before {
  border-color: var(--gray-6);
  color: var(--gray-6);
}

.input-dropdown:hover .input-dropdown__select-wrapper::after {
  background-color: var(--gray-6);
}

.input-dropdown__select-wrapper__select:focus,
.input-dropdown__select-wrapper__select:focus-visible,
.input-dropdown:hover .input-dropdown__select-wrapper__select {
  box-shadow: 0px 0px 2px var(--darkblue-2);
}

.input-dropdown__select-wrapper__select:focus,
.input-dropdown__select-wrapper__select:focus:before,
.input-dropdown__select-wrapper__select:focus-visible,
.input-dropdown__select-wrapper__select:focus-visible:before{
  outline: none;
  border-color: var(--theme-color-4);
}

/* ---- Dropdown Disabled ---- */
.input-dropdown--disabled {
  cursor: default;
  pointer-events: none;
}

.input-dropdown--disabled .input-dropdown__select-wrapper__select,
.input-dropdown--disabled .input-dropdown__select-wrapper::before {
  border-color: var(--gray-3);
  color: var(--gray-3);
  background-color: var(--white);
}

.input-dropdown--disabled .input-dropdown__select-wrapper::after {
  background-color: var(--gray-3);
}
/* ---- End Dropdown Disabled ---- */
/* ---- Dropdown Error ---- */
.input-dropdown--error .input-dropdown__select-wrapper__select {
  box-shadow: 0px 0px 2px var(--error);
}

.input-dropdown--error .input-dropdown__select-wrapper__select,
.input-dropdown--error .input-dropdown__select-wrapper::before {
  border-color: var(--error);
  color: var(--error);
  background-color: var(--white);
}

.input-dropdown--error:not(:hover) .input-dropdown__select-wrapper::after {
  background-color: var(--error);
}
/* ---- End Dropdown Error ---- */
/* --- End Dropdown States --- */
/* -- End Dropdown Input -- */

/* -- Text Input -- */
.input-text {}

.input-text__input {
  border:      1px solid var(--gray-3);
  font-family: var(--font-family-roboto);
  font-size:   var(--font-size-16);
  line-height: var(--line-spacing-26);
  color:       var(--black);
  background:  var(--gray-1);
  outline:     none;
  box-shadow:  0px 1px 1px var(--gray-10);
}

.input-text__label {
  padding-right: 12px;
  font-family:   var(--font-family-roboto);
  font-weight:   var(--font-weight-500);
  color:         var(--black);
}

.input-text:not(.input-text--disabled):not(.input-text--error) .input-text__input:focus,
.input-text:not(.input-text--disabled):not(.input-text--error) .input-text__input:hover {
  border: 1px solid var(--gray-5);
  background: var(--white);
}

.input-text--error .input-text__input,
.input-text--error .input-text__input:focus,
.input-text--error .input-text__input:hover {
  border: 1px solid var(--error);
  color: var(--error);
  box-shadow:  0px 1px 1px var(--error);
}

.input-text--disabled .input-text__input,
.input-text--disabled .input-text__input:hover {
  border: 1px solid var(--gray-4);
}

.input-text--disabled .input-text__label {
  color: var(--gray-4)
}

/* -- End Text Input -- */

/* -- Number Input -- */
.input-number {}

.input-number__input {
  border:      1px solid var(--gray-3);
  font-family: var(--font-family-roboto);
  font-size:   var(--font-size-16);
  line-height: var(--line-spacing-26);
  color:       var(--black);
  background:  var(--gray-1);
  outline:     none;
  box-shadow:  0px 1px 1px var(--gray-10);
}

.input-number__label {
  padding-right: 12px;
  font-family:   var(--font-family-roboto);
  font-weight:   var(--font-weight-500);
  color:         var(--black);
}

.input-number:not(.input-number--disabled):not(.input-number--error) .input-number__input:focus,
.input-number:not(.input-number--disabled):not(.input-number--error) .input-number__input:hover {
  border: 1px solid var(--gray-5);
  background: var(--white);
}

.input-number--error .input-number__input,
.input-number--error .input-number__input:focus,
.input-number--error .input-number__input:hover {
  border: 1px solid var(--error);
  color: var(--error);
  box-shadow:  0px 1px 1px var(--error);
}

.input-number--disabled .input-number__input,
.input-number--disabled .input-number__input:hover {
  border: 1px solid var(--gray-4);
}

.input-number--disabled .input-number__label {
  color: var(--gray-4)
}
/* -- End Number Input -- */

/* -- Radio Input -- */
.input-radio {
  display: flex;
}

.input-radio__circle {
  display: relative;
  width: 18px;
  height: 18px;
  border: 1px solid var(--gray-7);
  border-radius: 50px;
  background-color: var(--white);
}

.input-radio__circle__dot {
  width: 10px;
  height: 10px;
  margin: 3px;
  border: 1px solid var(--gray-7);
  border-radius: 50px;
  background-color: var(--white);
}

.input-radio__input {
  position: absolute;
  width: 0px;
  height: 0px;
}

.input-radio__label {
  padding-left: 8px;
}

/* --- Radio States --- */
.input-radio:hover:not(.input-radio--checked) > .input-radio__circle > .input-radio__circle__dot {
  background-color: var(--gray-3);
}
.input-radio--checked > .input-radio__circle > .input-radio__circle__dot {
  background-color: var(--black);
}
.input-radio--disabled > .input-radio__label {
  color: var(--gray-4);
}
.input-radio--disabled > .input-radio__circle,
.input-radio--disabled > .input-radio__circle > .input-radio__circle__dot {
  border: 1px solid var(--gray-4);
}
.input-radio--disabled.input-radio--checked > .input-radio__circle > .input-radio__circle__dot {
  background-color: var(--gray-4);
}
.input-radio--error {}
/* --- End Radio States --- */
/* -- End Radio Input -- */

/* -- Radio Group -- */
.input-radio-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.input-radio-group__options .input-radio + .input-radio {
  margin-left: 40px;
}

.input-radio-group--disabled .input-radio-group__label {
  color: var(--gray-4);
}

.input-radio-group__options {
  display: flex;
  flex-direction: row;
}

.input-radio-group__label {
  padding-right: 12px;
  font-family:   var(--font-family-roboto);
  font-weight:   var(--font-weight-500);
  color:         var(--black);
}

/* -- End Radio Group -- */

/* - End Inputs - */

/* - Progress - */

.progress-nob {
  z-index: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.progress-nob__circle {
  z-index: 1;
  display: relative;
  width: 22px;
  height: 22px;
  border: 1px solid rgba(100, 100, 100, 0.0);
  border-radius: 50px;
  background-color: rgba(100, 100, 100, 0.0);
}

.progress-nob__circle__dot {
  z-index: 1;
  width: 10px;
  height: 10px;
  margin: 5px;
  border: 1px solid var(--white);
  border-radius: 50px;
  background-color: var(--medblue-1);
}

.progress-nob__label {
  margin: 0 16px 0 16px;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-300);
  line-height: var(--line-spacing-20);
  color: var(--darkblue-2);
}


/* -- Progress States -- */

.progress-nob:hover {
  cursor: pointer;
}

.progress-nob--selected .progress-nob__circle {
  border: 1px solid var(--darkblue-1);
  background-color: rgba(107, 134, 150, 0.5);
}

.progress-nob:hover .progress-nob__circle__dot,
.progress-nob--selected .progress-nob__circle__dot,
.progress-nob--completed .progress-nob__circle__dot {
  background-color: var(--theme-color-4);
}

.progress-nob:hover .progress-nob__label,
.progress-nob--selected .progress-nob__label,
.progress-nob--completed .progress-nob__label {
  color: var(--theme-color-4);
}

/* -- End Progress States -- */

.progress {
  flex-direction: row;
  display: flex;
  position: relative;
  height: 64px;
}

.progress__header-bar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 18px;
  background: var(--medblue-1);
  content: " ";
}

.progress__footer-bar-1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 13px;
  background: var(--lightblue-2);
  content: " ";
}

.progress__footer-bar-2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6.5px;
  background: var(--theme-color-4);
  content: " ";
}

.progress__step {
  position: relative;
  top: 7px;
}

.progress__step:not(.progress__step--completed)::before {
  position: absolute;
  top: 13px;
  right: 50%;
  left: 0px;
  height: 3px;
  background: repeating-linear-gradient(180deg, var(--medblue-1), var(--white));
  content: " ";
}

.progress__step:not(.progress__step--completed, .progress__step-last)::after,
.progress__step--completed-last::after {
  position: absolute;
  top: 13px;
  right: 0px;
  left: 50%;
  height: 3px;
  background: repeating-linear-gradient(180deg, var(--medblue-1), var(--white));
  content: " ";
}

.progress__step--completed::before {
  position: absolute;
  top: 11px;
  right: 50%;
  left: 0px;
  height: 2px;
  background-color: var(--theme-color-4);
  content: " ";
}

.progress__step--completed:not(.progress__step-last, .progress__step--completed-last)::after {
  position: absolute;
  top: 11px;
  right: 0px;
  left: 50%;
  height: 2px;
  background-color: var(--theme-color-4);
  content: " ";
}

.progress__step :last-child::after {
  visibility: none;
}

/* Use nth child selectors for the progress bar */

/* -- End Progress Indicator -- */

.progress__step {}

/* - End Progress - */

/* - Ring Icons - */

.ring-icon {
  position: relative;
}

.ring-icon .ring-icon__icon {
  fill: var(--white);
}

/* -- Worksheet Variant -- */

.card:not(.card--disabled, .card--error):hover .ring-icon--worksheet .ring-icon__outer-ring,
.ring-icon--worksheet:not(.ring-icon--disabled, .ring-icon--error):hover .ring-icon__outer-ring,
.ring-icon--worksheet.ring-icon--selected .ring-icon__outer-ring,
.ring-icon--worksheet .ring-icon__background {
  fill: var(--green-2);
}

.ring-icon--worksheet .ring-icon__outer-ring {
  fill: var(--green-1);
}
/* -- End Worksheet Variant -- */

/* -- Fuel Model Variant -- */

.card:not(.card--disabled, .card--error):hover .ring-icon--fuel-model .ring-icon__outer-ring,
.ring-icon--fuel-model:not(.ring-icon--disabled, .ring-icon--error):hover .ring-icon__outer-ring,
.ring-icon--fuel-model.ring-icon--selected .ring-icon__outer-ring,
.ring-icon--fuel-model .ring-icon__background {
  fill: var(--medblue-1);
}

.ring-icon--fuel-model .ring-icon__outer-ring {
  fill: var(--gray-3);
}

.ring-icon--fuel-model .ring-icon__icon {
  fill: var(--white);
}
/* -- End Fuel Model Variant -- */

/* -- Fuel Import Files Variant -- */

.card:not(.card--disabled, .card--error):hover .ring-icon--import-files .ring-icon__outer-ring,
.ring-icon--import-files:not(.ring-icon--disabled, .ring-icon--error):hover .ring-icon__outer-ring,
.ring-icon--import-files.ring-icon--selected .ring-icon__outer-ring,
.ring-icon--import-files .ring-icon__background {
  fill: var(--gray-5);
}

.ring-icon--import-files .ring-icon__outer-ring {
  fill: var(--gray-3);
}
/* -- End Import Files Variant -- */

/* -- Active Incident Variant -- */

.card:not(.card--disabled, .card--error):hover .ring-icon--active-incident .ring-icon__outer-ring,
.ring-icon--active-incident:not(.ring-icon--disabled, .ring-icon--error):hover .ring-icon__outer-ring,
.ring-icon--active-incident.ring-icon--selected .ring-icon__outer-ring,
.ring-icon--active-incident .ring-icon__background {
  fill: var(--orange-3);
}

.ring-icon--active-incident .ring-icon__outer-ring {
  fill: var(--peach-2);
}
/* -- End Active Incident Variant -- */

/* -- Custom Model Variant -- */

.card:not(.card--disabled, .card--error):hover .ring-icon--custom-model .ring-icon__outer-ring,
.ring-icon--custom-model:not(.ring-icon--disabled, .ring-icon--error):hover .ring-icon__outer-ring,
.ring-icon--custom-model.ring-icon--selected .ring-icon__outer-ring,
.ring-icon--custom-model .ring-icon__background {
  fill: var(--yellow-4);
}

.ring-icon--custom-model .ring-icon__outer-ring {
  fill: var(--yellow-1);
}
/* -- End Custom Model Variant -- */

/* -- Existing Run Variant -- */

.card:not(.card--disabled, .card--error):hover .ring-icon--existing-run .ring-icon__outer-ring,
.ring-icon--existing-run:not(.ring-icon--disabled, .ring-icon--error):hover .ring-icon__outer-ring,
.ring-icon--existing-run.ring-icon--selected .ring-icon__outer-ring,
.ring-icon--existing-run .ring-icon__background {
  fill: var(--orange-1);
}

.ring-icon--existing-run .ring-icon__outer-ring {
  fill: var(--peach-1);
}
/* -- End Existing run Variant -- */

/* -- Guided Work Variant -- */

.card:not(.card--disabled, .card--error):hover .ring-icon--guided-work .ring-icon__outer-ring,
.ring-icon--guided-work:not(.ring-icon--disabled, .ring-icon--error):hover .ring-icon__outer-ring,
.ring-icon--guided-work.ring-icon--selected .ring-icon__outer-ring,
.ring-icon--guided-work .ring-icon__background {
  fill: var(--theme-color-highlight);
}

.ring-icon--guided-work .ring-icon__outer-ring {
  fill: var(--peach-2);
}

.ring-icon--guided-work .ring-icon__icon {
  fill: var(--white);
}

/* -- End Guided Work Variant -- */


/* -- Independent Work Variant -- */

.card:not(.card--disabled, .card--error):hover .ring-icon--independent-work .ring-icon__outer-ring,
.ring-icon--independent-work:not(.ring-icon--disabled, .ring-icon--error):hover .ring-icon__outer-ring,
.ring-icon--independent-work.ring-icon--selected .ring-icon__outer-ring,
.ring-icon--independent-work .ring-icon__background {
  fill: var(--theme-color-2);
}

.ring-icon--independent-work .ring-icon__outer-ring {
  fill: var(--lightblue-3);
}

.ring-icon--independent-work .ring-icon__icon {
  fill: var(--white);
}

/* -- End Independent Work Variant -- */

/* -- Research Work Variant -- */

.card:not(.card--disabled, .card--error):hover .ring-icon--research .ring-icon__outer-ring,
.ring-icon--research:not(.ring-icon--disabled, .ring-icon--error):hover .ring-icon__outer-ring,
.ring-icon--research.ring-icon--selected .ring-icon__outer-ring,
.ring-icon--research .ring-icon__background {
  fill: var(--theme-color-1);
}

.ring-icon--research .ring-icon__outer-ring {
  fill: var(--lightblue-4);
}

.ring-icon--research .ring-icon__icon {
  fill: var(--white);
}

/* -- End Research Work Variant -- */

/* -- Research Work Variant -- */

.card:not(.card--disabled, .card--error):hover .ring-icon--research .ring-icon__outer-ring,
.ring-icon--research:not(.ring-icon--disabled, .ring-icon--error):hover .ring-icon__outer-ring,
.ring-icon--research.ring-icon--selected .ring-icon__outer-ring,
.ring-icon--research .ring-icon__background {
  fill: var(--theme-color-1);
}

.ring-icon--research .ring-icon__outer-ring {
  fill: var(--lightblue-4);
}

.ring-icon--research .ring-icon__icon {
  fill: var(--white);
}
/* -- End Research Work Variant -- */

/* -- Planning Variant -- */

.card:not(.card--disabled, .card--error):hover .ring-icon--planning .ring-icon__outer-ring,
.ring-icon--planning:not(.ring-icon--disabled, .ring-icon--error):hover .ring-icon__outer-ring,
.ring-icon--planning.ring-icon--selected .ring-icon__outer-ring,
.ring-icon--planning .ring-icon__background {
  fill: var(--darkblue-2);
}

.ring-icon--planning .ring-icon__outer-ring {
  fill: var(--lightblue-4);
}

.ring-icon--planning .ring-icon__icon {
  fill: var(--white);
}
/* -- End Planning Work Variant -- */

/* --  Settings Variant -- */

.ring-icon--settings2:not(.ring-icon--disabled, .ring-icon--error):hover .ring-icon__outer-ring,
.ring-icon--settings2:not(.ring-icon--disabled, .ring-icon--error):hover .ring-icon__icon,
.ring-icon--settings2.ring-icon--selected:not(.ring-icon--disabled, .ring-icon--error) .ring-icon__icon,
.ring-icon--settings2.ring-icon--selected .ring-icon__outer-ring,
.ring-icon--settings2 .ring-icon__background {
  fill: var(--white);
}

.ring-icon--settings2:not(.ring-icon--disabled, .ring-icon--error):hover .settings2-icon-ring,
.ring-icon--settings2 .ring-icon__outer-ring {
  visibility: hidden;
}

.ring-icon--settings2:not(.ring-icon--disabled, .ring-icon--error):hover .ring-icon__background,
.ring-icon--settings2.ring-icon--selected .ring-icon__background,
.ring-icon--settings2 .ring-icon__icon {
  fill: var(--medblue-1);
}
/* -- End Settings Variant -- */

/* --  Tools Variant -- */

.ring-icon--tools2:not(.ring-icon--disabled, .ring-icon--error):hover .ring-icon__outer-ring,
.ring-icon--tools2:not(.ring-icon--disabled, .ring-icon--error):hover .ring-icon__icon,
.ring-icon--tools2.ring-icon--selected:not(.ring-icon--disabled, .ring-icon--error) .ring-icon__icon,
.ring-icon--tools2.ring-icon--selected .ring-icon__outer-ring,
.ring-icon--tools2 .ring-icon__background {
  fill: var(--white);
}


.ring-icon--tools2:not(.ring-icon--disabled, .ring-icon--error):hover .tools2-icon-ring,
.ring-icon--tools2 .ring-icon__outer-ring {
  visibility: hidden;
}

.ring-icon--tools2:not(.ring-icon--disabled, .ring-icon--error):hover .ring-icon__background,
.ring-icon--tools2.ring-icon--selected .ring-icon__background,
.ring-icon--tools2 .ring-icon__icon {
  fill: var(--theme-color-highlight);
}
/* -- End Tools Variant -- */

/* -- Disabled -- */

.ring-icon--disabled .ring-icon__outer-ring,
.ring-icon--disabled:hover .ring-icon__outer-ring, {
  fill: var(--gray-3);
}

.ring-icon--disabled .ring-icon__background {
  fill: var(--white);
}

.ring-icon--disabled .ring-icon__icon {
  fill: var(--gray-5);
}

.ring-icon--disabled .ring-icon__outer-ring {
  fill: var(--gray-3);
}
/* -- End Disabled -- */

/* -- Error -- */
.ring-icon--error:not(.ring-icon--disabled, .ring-icon--selected) .ring-icon__outer-ring,
.ring-icon--error:not(.ring-icon--disabled, .ring-icon--selected) .ring-icon__icon {
  fill: var(--error);
}

.ring-icon--error .ring-icon__background {
  fill: var(--white);
}
/* -- End Error -- */
/* - End Ring Icons - */

/* -- Module Icons -- */

.module-icon__hover-mask {
  visibility: hidden;
}

.module-icon__tail__end {
  fill: var(--lightblue-4);
}

.module-icon--selected .module-icon__hover-mask,
.module-icon:hover .module-icon__hover-mask {
  visibility: visible;
}

.module-icon--selected .module-icon__tail,
.module-icon:hover .module-icon__tail {
  transition: transform .2s ease-in-out;
  transform: translate(-10px, 0px) scale(1.1,1);
}
/* -- Contain Variant -- */

.module-icon--contain.module-icon--selected .module-icon__tail__end {
  fill: var(--red-1);
}
/* -- End Contain Variant -- */
/* -- Crown Variant -- */

.module-icon--crown.module-icon--selected .module-icon__tail__end {
  fill: var(--orange-2);
}
/* -- End Crown Variant -- */
/* -- Mortality Variant -- */

.module-icon--mortality.module-icon--selected .module-icon__tail__end {
  fill: var(--red-1);
}
/* -- End Mortality  Variant -- */
/* -- Surface Variant -- */

.module-icon--surface.module-icon--selected .module-icon__tail__end {
  fill: var(--green-3);
}
/* -- End Surface Variant -- */
/* - End Module Icons - */

/* - Start Table - */

.table {
  border-collapse: collapse;
  border: 2px solid var(--lightblue-5);
}

.table-header__group th,
.table-header__group,
.table__title {
  border: 1px solid var(--lightblue-5);
  text-align: center;
  color: var(--white);
  background-color: var(--theme-color-2);
}

.table-cell {
  padding: 10px;
  border: 1px solid var(--lightblue-5);
  border-right: none;
  border-left: none;
  text-align: center;
}

.table-header__header {
  padding: 10px;
  border: 1px solid var(--lightblue-5);
  text-align: center;
}

.table-header__header[scope="row"],
.table-header__header[scope="col"] {
  color: var(--white);
  background-color: var(--darkblue-2);
}

.table-row:nth-child(even) {
  background-color: var(--theme-color-6);
}

.table-row--strikethrough {
  background: repeating-linear-gradient(180deg, var(--gray-5) 0%, var(--gray-5) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 1px;
}
/* - End Table - */

/* - Modal Card - */

.modal {
  flex-direction: column;
  display: flex;
  width: 477px;
  margin: 0;
  border: 1px solid var(--lightblue-5);
  border-radius: 3px;
  box-shadow: 0 4px 2px -2px var(--gray-3);
}

.modal__header {
  display: inline-flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 40px;
}

.modal__icon {
  display: flex;
  align-items: center;
  height: 80%;
  padding: 5px;
  border-top-left-radius: 3px;
  fill: var(--white);
  background-color: var(--theme-color-highlight);
}

.modal__title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80%;
  padding: 5px 5px 5px 20px;
  border-radius: 3px 3px 0px 0px;
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-bold);
  color: var(--white);
  background-color: var(--theme-color-1);
}

.modal__icon + .modal__title {
  border-top-left-radius: 0px;
}

.modal__close {
  position: absolute;
  top: 5px;
  right: 10px;
  fill: var(--white);
}

.modal__close > .button {
  width: 30px;
  height: 30px;
  padding: 0px;
  border-radius: 50%;
}

.modal__close > .button:hover {
  color: var(--theme-color-1);
  background-color: var(--white);
}

.modal__body {
  padding: i0px;
  background: var(--white);
}

.modal__buttons {
  display: flex;
  bottom: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

/* - End Modal Card - */

/* - Compute - */

.compute {
  display: flex;
}

.compute__input {
  padding-right: 15px;
}

.compute__input > .input-number__label,
.compute__input .input-number__input {
  display: block;
}

.compute__input .input-number__label {
  font-weight: var(--font-weight-bold);
}

.compute__input__range {
  padding-top: 8px;
  font-size: var(--font-size-12);
}

.compute__result {
  position: relative;
  top: 10px;
}

.compute__result .input-text__label {
  font-weight: var(--font-weight-bold);
  color: var(--black);
}

.compute__result > .input-text{
  padding-bottom: 15px;
}

.compute__result > button{
  position: relative;
  left: 60px;
}

/* - End Compute - */

.note {
  flex-direction: column;
  display: flex;
  position: relative;
}

.note > .note__input-title {
  padding: 34px 0px;
  font-size: var(--font-size-16);
}

.note > textarea {
  height: 51px;
  font-family: var(--font-family);
  resize: vertical;
}

.note__footer {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 5px;
  font-size: var(--font-size-14);
  color: var(--gray-5);
}

.note__footer > button {
  margin-left: auto;
  margin-top: 14px;
}
